*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}


/* HEADER*/
header{
  height: 140px;
}

.header-top{
  height: 55%;
  font-family: 'Acme', sans-serif;
  color: #29b1dd;
}

h1{
  font-size: 50px;
}

.header-bottom{
  height: 45%;
  background-color: #29b1dd;
  color: white;
  font-size: 22px;
}

/*MAIN*/
main{
  background-color: #dddd;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 250px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px gray;
  margin: 20px;
  font-size: 15px;
}

.card i{
  font-size: 40px;
}

.card span{
  text-transform: uppercase;
}

.blue{
  color: blue;
}

.orange{
  color: orange;
}

.green{
  color: green;
}

